	<div ng-show="currentPage=='about'" >
	<img src="img/photo.jpg" class="portraitimg img-polaroid" />
	<p class="lead">My name is Man Yang, currently  a senior software engineer in Zebra Technologies. Previously a master student study in University of Memphis, major in applied computer science. I have a 3-year track record of success in designing, coding, debugging and testing application and system software that exceeding expectations and meeting program milestones.</p> 
	<p>I am currently living in Altanta, GA, USA, I am curiosity about cut-edge technologies and enjoys exploring new technologies.For example, I am a glassware developer and study Mirror API by my self. I also learned Ruby on Rails, android development on Coursera and apply it to my websites and apps.</p>
	<p>My unique skill set in both development and design, coupled with leadership abilities allow me to produce high-quality work as well as boost the team's output. I am an specialized expertise in JavaScript/jQuery and relevant framework like AngularJS, backbone.js and YUI. I also use object-oriented programming, UML, Agile and Structured development, and component-based architecture complemented by solid understanding of full software development life cycle (SDLC).</p>
	<p>
<strong class="label zlabel label-info">Expert</strong> <em>HTML5, CSS3, JavaScript, jQuery, AngularJS, AJAX, XML, Web Animation, Adobe CS</em>
<br/>
<strong class="label zlabel label-info">Familiar</strong> <em>WordPress, JMVC, MySQL, PHP, Java, Android, Unix, Amazon AWS, Apache, Twitter Bootstrap, Node.js, Ruby on Rails</em>
<br/>
<strong class="label zlabel">Marketing</strong> <em>Google Analytics, SEO Optimization, Data mining</em>
<br/>
<strong class="label zlabel">Tools</strong> <em>Git, SVN, Agile, Eclipse, Assembla</em>
<br/>
</div>
