<div ng-show="currentPage=='about'">
	<img src="img/photo.jpg" class="portraitimg img-polaroid" />
	<p class="lead">Educated and motivated full-stack engineer in designing, coding, debugging and testing largescale web application that exceeding expectations and meeting milestones. Excellent interpersonal as well as communication skill. Specialized expertise in JavaScript/jQuery and a variety of JavaScript framework include AngularJS, ReactJS, VueJS, EmberJS, MEAN stack, as well as PHP/Python based backend techniques like Flask, Django, CodeIgniter, Lavarel, MySQL/SQL and Linux/UNIX administration.</p>
	<p>
<strong class="label zlabel label-info">Expert</strong> <em>HTML5, CSS3, JavaScript/jQuery, ES6, AngularJS, ReactJS, VueJS, Bootstrap, Adobe CS</em>
<br/>
<strong class="label zlabel label-info">Familiar</strong> <em>Node.js, WordPress, PHP, Java, Spring, MySQL, Python, Flask, Unix, Amazon AWS, Apache, Ruby on Rails</em>
<br/>
<strong class="label zlabel">Marketing</strong> <em>Google Analytics, SEO Optimization, Data mining</em>
<br/>
<strong class="label zlabel">Tools</strong> <em>Webpack, npm, Git, SVN, Agile</em>
<br/>
</div>