<div ng-show="currentPage=='exp'">
	<strong class="label label-info">Education</strong><br>
	M.S. in Computer Science, University of Memphis, Memphis, TN. Aug. 2014<br>
	B.S. in Engineering in Chemical Engineering, Wuhan Institute of Technology, P.R. China, May. 2011
	<br>

	<strong class="label label-info">Experience</strong><br>

	<strong>Senior Software Engineer at Zebra Technology Sept. 2014–June. 2016</strong>
	<ul>
		<li>Effectively design the RESTful api for a variety of pages upon business-side requirement using raml, and wrote the front-end side code using AngularJS, JavaScript from scratch</li>

		<li>Successfully implement the dashboard report page from UX handbook using AngularJS, boot- strap, JavaScript/ jQuery, HTML5/CSS3, Highchart, SASS and D3</li>

		<li>Successfully implement the location tracking report page from UX handbook using AngularJS, bootstrap, JavaScript/ jQuery, HTML5/CSS3, and Leaflet</li>

		<li>Successfully design and implement a static demo website with MEAN stack, and automate build process use npm, gulp and grunt</li>

		<li>Successfully design and implement a tracking website that records users click using piwik and google analytics</li>

		<li>Provided comprehensive technical support, trouble shooting, and bug fixation for the website</li>
	</ul>

	<strong>Graduate Assistant in Institute for Intelligent Systems	Aug. 2013–Aug. 2014</strong>
	<ul>
		<li>Promoted to new role with increased responsibility championing more efficient and cost-effective software solutions</li>
		<li>Spearheaded and implemented process improvements to modularize existing code by MVC and prototype design pattern. Efforts improved productivity and reduced user interface respond time by 25%</li>
	</ul>

	<strong>Professional Temporary Employee in Institute for Intelligent Systems Jun. 2013–Aug. 2013</strong>
	<ul>
		<li>Successfully designed and coded front-end web pages for a US DoD (Department of Defense) founded program using HTML/CSS, JavaScript, and Python. Fulfilled all tasks on time</li>
		<li>Rewrite and reviewed help documentation for CohMetrix 3.0 using .Net</li>
		<li>Provided high-level functionality support, implementing corrections to operational code baseline allowing for increased productivity and continuity in user experience</li>
		<li>Consistently acknowledged for temporary software engineering work and earned a Spot Award within a two months of taking on new role in 2013</li>
	</ul>

	<strong>Personal website		Aug.2013–present</strong>
	<ul>
		<li>Charged for Linux system configuration, administration, maintenance and support</li>
		<li>Successfully verified back-end facilities, PHP and Apache server, data storage and web infra-structure</li>
		<li>Installed and continuously maintained wordpress, ownCloud platform, customization and con-tents management</li>
	</ul>
</div>