    <!DOCTYPE html>
    <html ng-app="site">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="lib/angular.1.2rc2.min.js"></script>
        <script type="text/javascript" src="lib/angular-route.min.js"></script>
        <script type="text/javascript" src="lib/angular-animate.min.js"></script>
        <script type="text/javascript" src="lib/easeljs-0.6.1.min.js"></script>
        <script type="text/javascript" src="controller/site.js"></script>
        <script type="text/javascript" src="lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/site.css">
        <link rel="stylesheet" href="css/animations.css">
    </head>
    <body ng-controller="bodyControl" id="scene" class='bg'>


        <div class="menustripe"></div>

        <div class="container-fluid" >

            <div class="row-fluid">
                <div class='span4'>
                    <img class="logo img-circle" src="img/title.jpg" />
                </div>
                <div class='span8 btnlist'> 
                    <a class="btnmargin btn {{currentPage=='about'? 'btn-primary': 'btn-info'}}" href='#'>
                        <span ng-click="currentPage='about'">
                            <i class="icon-white icon-leaf"></i>about
                        </span>
                    </a>
                    <a class="btnmargin btn {{currentPage=='exp'? 'btn-primary': 'btn-info'}}" href='#/exp'>
                        <span ng-click="currentPage='exp'">
                        <i class="icon-white icon-briefcase"></i>experience
                        </span>
                    </a>
                    <a class="btnmargin btn {{currentPage=='social'? 'btn-primary': 'btn-info'}}" href='#/social'>
                        <span ng-click="currentPage='social'">
                        <i class="icon-white icon-thumbs-up"></i>social
                        </span>
                    </a>
             </div>
         </div>

     </div>
 </div>

 <div class="container-fluid" >
    <div class="page background">
        <div class="pagecontent">
         <ng-view></ng-view>
     </div>
 </div>
</div> 
</body>
</html>